.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#vs {
    padding: 10px;
}

.box {
    border: solid;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-image: url(./binocs.jpg);
    background-size: cover;
}

.pad1{
    margin: 10px;
    width: 300px;
    height: 500px;
    background-color: aquamarine;
}


.pad2{
    margin: 10px;
    width: 300px;
    height: 500px;
    background-color: orange;

}


.containerprice{
    display: flex;
    flex-direction: row;
    justify-content: center;
}